@import '..//..//vars';

.footer{
	width: 100%;
	font-family: 'Vollkorn', serif;
	&__inner{
		height: 44px;
		padding: 0 15px 0 15px;
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: space-evenly;
		color: #fff;
		text-align: center;
	}
	&__pay{
		& img{
			display: inline-block;
			margin-left: 10px;
		}
	}
	&__phone{
		position: relative;
		padding-left: 20px;
		&::before{
			content: url('./../../../public/images/icons/phone_footer.svg');
			width: 13px;
			height: 13px;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__mail{
		position: relative;
		padding-left: 20px;
		&::before{
			content: url('./../../../public/images/icons/email_form.svg');
			width: 13px;
			height: 13px;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

@media (max-width: 778px) {
	.footer{
		&__pay img{
			width: 30px;
		}
	}
}

@media (max-width: 530px) {
	.footer{
		&__inner{
			height: 150px;
			padding: 10px 0;
			display: flex;
			flex-direction: column;
		}

		&__phone{
			padding-left: 30px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		&__mail{
			padding-left: 30px;
			margin-bottom: 10px;
		}

		&__mail::before,
		&__phone::before{
			width: 15px;
			height: 10px;
		}

		&__pay img{
			width: 40px;
		}
	}
}